
.app-main {
  background-color: #000000;
}

/* Left section */
#left_col {
  display:none;
}
/* video and stats display */
#main_col {
  margin-left: 0px;
    background-color: #000000;
  /*margin: 0px*/
}
/* Video title and user info */
#broadcast-meta {
  margin: 0px;
}
/* Video title and user info */
#info {
  background-color: #000;
}
/* Video title */
#title {
  color: #fff;
}
/* Channel container */
#channel {
  padding: 0px;
}
/* Channel information under video */
#channel_panels {
  display: none;
}
/* Buttons and channel stats under video */
.stats-and-actions {
  padding: 0;
}

/* Chat stuff */
#right_close {
  display: none;
}
.tse-scroll-content {
  width: 200px;
}
.chat-interface {
  width: 200px;
  background-color: black;
}
.chat_text_input {
  color: #ffffff;
  background-color: #222222;
}
.chat-header {
  display: none;
}
.chat-messages {
  background-color: black;
}
.chat-lines {
  font-size: 8px;
  background-color: black;
  color: white;
}
.chat-line {
  padding: 0;
}
